.container {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 200px;
    min-height: 100vh;
    padding-top: 20px;
}

.right {
    flex-grow: 1;
    min-height: 100vh;
    padding: 26px 16px 0;
    background: #f0f0f0;
}
